<div style="width: 50%; margin: 0 auto;">

    <h3>{{ title }} Site</h3>

    <form #f="ngForm" (ngSubmit)="save()">
        <div class="form-group mb-3">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="site.title" name="title" />
        </div>
        <div class="form-group mb-3">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="site.description" name="description"/>
        </div>
        <div class="form-group mb-3">
            <label for="startDate">Start Date</label>
            <input type="text" id="startDate" class="form-control" [(ngModel)]="site.startDate" name="startDate"/>
        </div>
        <div class="form-group mb-3">
            <label for="endDate">End Date</label>
            <input type="text" id="endDate" class="form-control" [(ngModel)]="site.endDate" name="endDate"/>
        </div>
        <div class="form-group mb-3">
            <label for="status">Status</label>
            <select id="status" class="form-control" [(ngModel)]="site.statusId" name="statusId">
                <option value="1">Completed</option>
                <option value="2">In Progress</option>
                <option value="3">Upcomming</option>
            </select>
        </div>
        <button class="btn btn-primary me-2">Save</button>
        <button type="button" class="btn btn-warning" routerLink="/admin/sites/view/{{site.id}}">Cancel</button>
    </form>
</div>
